@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: youyuan;
  src: url("https://septem1997-blog.oss-cn-hangzhou.aliyuncs.com/youyuan.ttf");
}
*{
  user-select: none;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: youyuan,serif;
  background-color: rgb(14,14,14);
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.layout-wrap{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(14,14,14);
  overflow: hidden;
}
.page-wrap{
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: perspective(100vh);
}
.nav-title{
  position: absolute;
  min-width: 280px;
  text-align: center;
  letter-spacing: 4px;
  left: 10px;
  bottom: 20px;
  color: white;
  padding: 2px 0;
  font-size: 24px;
  border-radius: 4px;
  z-index: 2;
  &:before{
    content: normal;
    border-radius: 4px;
    background: #f7f820;
    transform: rotate(5deg);
    position: absolute;
    width: 100%;
    right: 0;
    height: 100%;
    z-index: 1;
  }
  &:after{
    content: normal;
    border-radius: 4px;
    background: black;
    position: absolute;
    width: 100%;
    right: 0;
    height: 100%;
    z-index: 1;
  }
}
