.wrapper{
    width: 420px;
    height: 220px;
    overflow: hidden;
}
.c1{
    border-width: 54px;
    border-color: #f3ff1f;
    background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.8));
}
.c2{
    border-width: 38px;
    border-color: #f5ab2b;
}
.c3{
    border-width: 28px;
    border-color: #fdf7e3;
}
.c4{
    border-width: 20px;
    border-color: #cd570d;
}
.c5{
    border-width: 12px;
    border-color: #fdf58b;
}
.date{
    background: #29272c;
    padding: 0 64px;
    line-height: 32px;
    height: 28px;
    font-size: 28px;
    color: white;
    right: 120px;
    top: 24px;
    border-radius: 36px;
    position: absolute;
    font-weight: bold;
    letter-spacing: 8px;
    transform: scale(1,0.8);
}
.hour{
    right: 200px;
    top: 48px;
    position: absolute;
    color: white;
    font-size: 42px;
    -webkit-text-stroke: 1px #29272c;
}
.weather-box{
    border-radius: 50%;
    width: 82px;
    height: 82px;
    border: 6px solid currentColor;
    position: absolute;
    background: black;
    right: 114px;
    top: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 56px;
    color: #f7f820;
}
.navBox{
    @extend .weather-box;
    top: 150px;
    width: 66px;
    height: 66px;
    right: 52px;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;

    div{
        width: 60%;
        height: 4px;
        border-radius: 2px;
        background: #f7f820;
        margin: 5% 0;
    }
}
.weather-box img{
    width: 80%;
    height: 80%;
}
.rainbow-circle{
    position: absolute;
    right: -28px;
    top: -28px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rainbow-circle div{
    position: absolute;
    border-radius: 50%;
    width: 260px;
    height: 260px;
    border-style: solid;
    box-sizing: content-box;
}
