ol, ul, dl{
  margin-bottom: 0!important;
}
.container{
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 800px;
}
.adminTitle{
  font-size: 24px;
}
.tableWrap{
  margin-top: 18px;
}
